<?xml version="1.0"?>
<config>
  <modules>
    <Bss_MultiStoreViewPricingPriceIndexer>
      <version>1.0.5</version>
    </Bss_MultiStoreViewPricingPriceIndexer>
  </modules>
  <global>
    <helpers>
      <multistoreviewpricingpriceindexer>
        <class>Bss_MultiStoreViewPricingPriceIndexer_Helper</class>
      </multistoreviewpricingpriceindexer>
    </helpers>

    <models>
      <multistoreviewpricingpriceindexer>
        <class>Bss_MultiStoreViewPricingPriceIndexer_Model</class>
        <resourceModel>multistoreviewpricingpriceindexer_resource</resourceModel>
      </multistoreviewpricingpriceindexer>

      <multistoreviewpricingpriceindexer_resource>
        <class>Mage_Catalog_Model_Resource</class>
        <deprecatedNode>catalog_resource_eav_mysql4</deprecatedNode>
        <entities>
          <product_index_price>
            <table>catalog_product_index_price_store</table>
          </product_index_price>
          <product_price_indexer_idx>
            <table>catalog_product_index_price_store_idx</table>
          </product_price_indexer_idx>
          <product_price_indexer_tmp>
            <table>catalog_product_index_price_store_tmp</table>
          </product_price_indexer_tmp>
          <product_price_indexer_final_idx>
            <table>catalog_product_index_price_final_store_idx</table>
          </product_price_indexer_final_idx>
          <product_price_indexer_final_tmp>
            <table>catalog_product_index_price_final_store_tmp</table>
          </product_price_indexer_final_tmp>
          <bundle_price_indexer_idx>
            <table>catalog_product_index_price_bundle_store_idx</table>
          </bundle_price_indexer_idx>
          <bundle_price_indexer_tmp>
            <table>catalog_product_index_price_bundle_store_tmp</table>
          </bundle_price_indexer_tmp>
          <bundle_selection_indexer_idx>
            <table>catalog_product_index_price_bundle_sel_store_idx</table>
          </bundle_selection_indexer_idx>
          <bundle_selection_indexer_tmp>
            <table>catalog_product_index_price_bundle_sel_store_tmp</table>
          </bundle_selection_indexer_tmp>
          <bundle_option_indexer_idx>
            <table>catalog_product_index_price_bundle_opt_store_idx</table>
          </bundle_option_indexer_idx>
          <bundle_option_indexer_tmp>
            <table>catalog_product_index_price_bundle_opt_store_tmp</table>
          </bundle_option_indexer_tmp>
          <product_price_indexer_cfg_option_aggregate_idx>
            <table>catalog_product_index_price_cfg_opt_agr_store_idx</table>
          </product_price_indexer_cfg_option_aggregate_idx>
          <product_price_indexer_cfg_option_aggregate_tmp>
            <table>catalog_product_index_price_cfg_opt_agr_store_tmp</table>
          </product_price_indexer_cfg_option_aggregate_tmp>
          <product_price_indexer_cfg_option_idx>
            <table>catalog_product_index_price_cfg_opt_store_idx</table>
          </product_price_indexer_cfg_option_idx>
          <product_price_indexer_cfg_option_tmp>
            <table>catalog_product_index_price_cfg_opt_store_tmp</table>
          </product_price_indexer_cfg_option_tmp>
          <downloadable_product_price_indexer_idx>
            <table>catalog_product_index_price_downlod_store_idx</table>
          </downloadable_product_price_indexer_idx>
          <downloadable_product_price_indexer_tmp>
            <table>catalog_product_index_price_downlod_store_tmp</table>
          </downloadable_product_price_indexer_tmp>
          <product_index_group_price>
            <table>catalog_product_index_group_price_store</table>
          </product_index_group_price>
          <product_index_tier_price>
            <table>catalog_product_index_tier_price_store</table>
          </product_index_tier_price>
        </entities>
      </multistoreviewpricingpriceindexer_resource>

      <catalog_resource>
        <rewrite>
          <product_indexer_price>Bss_MultiStoreViewPricingPriceIndexer_Model_Resource_Product_Indexer_Price</product_indexer_price>
          <product_indexer_price_default>Bss_MultiStoreViewPricingPriceIndexer_Model_Resource_Product_Indexer_Price_Default</product_indexer_price_default>
          <product_indexer_price_configurable>Bss_MultiStoreViewPricingPriceIndexer_Model_Resource_Product_Indexer_Base_Configurable</product_indexer_price_configurable>
          <product_indexer_price_grouped>Bss_MultiStoreViewPricingPriceIndexer_Model_Resource_Product_Indexer_Base_Grouped</product_indexer_price_grouped>
        </rewrite>
      </catalog_resource>

      <bundle_resource>
        <rewrite>
          <indexer_price>Bss_MultiStoreViewPricingPriceIndexer_Model_Resource_Product_Indexer_Base_Bundle</indexer_price>
        </rewrite>
      </bundle_resource>

      <downloadable_resource>
        <rewrite>
          <indexer_price>Bss_MultiStoreViewPricingPriceIndexer_Model_Resource_Product_Indexer_Base_Downloadable</indexer_price>
        </rewrite>
      </downloadable_resource>
    </models>

    <resources>
      <bss_multistoreviewpricingpriceindexer_setup>
        <setup>
          <module>Bss_MultiStoreViewPricingPriceIndexer</module>
          <class>Mage_Catalog_Model_Resource_Setup</class>
        </setup>
      </bss_multistoreviewpricingpriceindexer_setup>
    </resources>
  </global>
</config>
