<?xml version="1.0"?>
<config>
    <modules>
        <Ignovate_Api2>
            <version>0.0.1</version>
        </Ignovate_Api2>
    </modules>
    <global>
        <models>
            <ignovate_api2>
                <class>Ignovate_Api2_Model</class>
            </ignovate_api2>
            <api2>
                <rewrite>
                    <router>Ignovate_Api2_Model_Router</router>
                    <dispatcher>Ignovate_Api2_Model_Dispatcher</dispatcher>
                    <config>Ignovate_Api2_Model_Config</config>
                    <server>Ignovate_Api2_Model_Server</server>
                    <auth>Ignovate_Api2_Model_Auth</auth>
                </rewrite>
            </api2>
        </models>
        <helpers>
            <ignovate_api2>
                <class>Ignovate_Api2_Helper</class>
            </ignovate_api2>
        </helpers>
        <api2>
            <auth_adapters>
                <key module="api2" translate="label">
                    <model>ignovate_api2/auth_adapter_key</model>
                    <label>key</label>
                    <enabled>1</enabled>
                    <order>9</order>
                </key>
            </auth_adapters>
        </api2>
    </global>
</config>