<?xml version="1.0"?>
<config>
    <modules>
        <Ignovate_Sales>
            <version>0.0.1</version>
        </Ignovate_Sales>
    </modules>
    <global>
        <helpers>
            <ignovate_sales>
                <class>Ignovate_Sales_Helper</class>
            </ignovate_sales>
        </helpers>
        <blocks>
            <ignovate_sales>
                <class>Ignovate_Sales_Block</class>
            </ignovate_sales>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Ignovate_Sales_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <sales_order_save_after>
                <observers>
                    <sales_order_complete_send_sms>
                        <type>singleton</type>
                        <class>ignovate_sales_model_observer</class>
                        <method>triggerCompleteSms</method>
                    </sales_order_complete_send_sms>
                </observers>
            </sales_order_save_after>
        </events>
        <resources>
            <ignovate_sales_setup>
                <setup>
                    <module>Ignovate_Sales</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ignovate_sales_setup>
            <ignovate_sales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ignovate_sales_read>
            <ignovate_sales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ignovate_sales_write>
        </resources>
    </global>
</config>