<?xml version="1.0"?>
<config>
    <modules>
        <Ignovate_Driver>
            <version>0.0.7</version>
        </Ignovate_Driver>
    </modules>
    <adminhtml>
        <menu>
            <ignovate_driver module="ignovate_driver">
                <title>Ignovate</title>
                <sort_order>100</sort_order>
                <children>
                    <manage_drivers module="ignovate_driver">
                        <title>Manage Drivers</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/driver/</action>
                    </manage_drivers>
                </children>
            </ignovate_driver>
        </menu>
        <layout>
            <updates>
                <ignovate_driver>
                    <file>ignovate/drivers.xml</file>
                </ignovate_driver>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ignovate_driver before="Mage_Adminhtml">Ignovate_Driver_Adminhtml</ignovate_driver>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <ignovate_driver>
                <class>Ignovate_Driver_Model</class>
                <resourceModel>ignovate_driver_resource</resourceModel>
            </ignovate_driver>
            <ignovate_driver_resource>
                <class>Ignovate_Driver_Model_Resource</class>
                <entities>
                    <driver>
                        <table>ignovate_drivers</table>
                    </driver>
                </entities>
            </ignovate_driver_resource>
        </models>
        <helpers>
            <ignovate_driver>
                <class>Ignovate_Driver_Helper</class>
            </ignovate_driver>
        </helpers>
        <blocks>
            <ignovate_driver>
                <class>Ignovate_Driver_Block</class>
            </ignovate_driver>
        </blocks>
        <resources>
            <ignovate_driver_setup>
                <setup>
                    <module>Ignovate_Driver</module>
                    <class>Ignovate_Driver_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ignovate_driver_setup>
            <ignovate_driver_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ignovate_driver_read>
            <ignovate_driver_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ignovate_driver_write>
        </resources>
    </global>
</config>